
{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}  


<form method="GET" action="">

    {% csrf_token %}

    <table>
        <tr>
            <td>To do: </td>
            <td><input type="text" name="todo" placeholder="TO DO" class="form-control"></td>
        </tr>
                
        <tr>
            <td>Description: </td>
            <td><input type="text" name="description" placeholder="DESCRIPTION" class="form-control"></td>
        </tr>

        <tr>
            <td></td>
            <td><input class="btn login_btn" type="submit" value="Submit" href="{% url 'todolist:show' %}"></td>
        </tr>
    </table>
        
</form>



{% endblock content %}
