{% extends 'base.html' %}

{% block meta %}
<title>To Do List</title>
{% endblock meta %}

{% block content %}

{% load static %}  

{% csrf_token %}

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="navbar-brand">
                <a class="nav-link text-light">Hi, {{nama}}</a>
            </li>
                <button class="btn btn-light" type="button"><a href="{% url 'todolist:create-task' %}" class="text-decoration-none text-dark">Create Task</a></button>
            </li>
        </ul>
    </div>

    <div class="mr-auto">
        <ul class="navbar-nav mx-3">
            <li class="navbar-brand">
            <button class="btn btn-light float-right" type="button"><a href="{% url 'todolist:logout' %}" class="text-decoration-none text-dark">Logout</a></button>
            </li>
    </div>
</nav>


<br></br>

{% comment %} 

<table>
    <tr>
    <th>Judul To do</th>
    <th>Tanggal</th>
    <th>Deskripsi</th>
    <th>Selesai/Belum Selesai</th>
    <th>Mengubah Status To Do</th>
    <th>Hapus</th>
    </tr>

    {% for todolist in list_todo %}
    <tr>
        <th>{{todolist.title}}</th>
        <th>{{todolist.date}}</th>
        <th>{{todolist.description}}</th>
        {% if todolist.is_finished == False %}
        <th>Belum Selesai</th>
        {% else %}
        <th>Selesai</th>
        {% endif %}
        <th><a href="{% url 'todolist:checklist' todolist.pk %}"><button>Check</button></th>
        <th><a href="{% url 'todolist:hapus' todolist.pk %}"><button>Delete</button></th>
        
    </tr>
{% endfor %}
</table>

{% endcomment %}

<div class="mx-3 d-flex flex-row flex-wrap justify-content-center">
    {% if jumlah == 0 %}
    <div class="alert alert-info" role="alert">
        Kamu tidak memiliki task saat ini.
      </div>
    {% endif %}
    
    {% for todolist in list_todo %}
<div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{todolist.title}}</h5>
      <p class="card-text">{{todolist.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{todolist.date}}</li>
      {% if todolist.is_finished == False %}
      <li class="list-group-item">Belum Selesai</li>
      {% else %}
      <li class="list-group-item">Selesai</li>
      {% endif %}
    </ul>
    <div class="card-body">
        <button class="btn btn-dark" type="button"><a href="{% url 'todolist:checklist' todolist.pk %}" class="text-decoration-none text-light">Selesai?</a></button>
        <button class="btn btn-dark" type="button"><a href="{% url 'todolist:hapus' todolist.pk %}" class="text-decoration-none text-light">Hapus</a></button>
    </div>
  </div>
  {% endfor %}
</div>
  
  <br></br>



  <br></br>

<nav class="navbar fixed-bottom navbar-light bg-dark">
    <a class="text-decoration-none text-light">Kamu ada {{ jumlah }} task :D</a>
  </nav>



{% endblock content %}