{% extends 'base.html' %}

{% load static %}  

{ % comment % }

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nama Barang</th>
      <th scope="col">Harga Barang</th>
      <th scope="col">Deskripsi</th>
    </tr>
  </thead>
  <tbody id="table">
      {% for barang in list_barang %}
      <tr>
          <td>{{barang.nama_barang}}</td>
          <td>{{barang.harga_barang}}</td>
          <td>{{barang.deskripsi}}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

{ % endcomment % }

{% block content %}



<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
          <li class="navbar-brand">
              <a class="nav-link text-light">Hi, {{nama}}</a>
          </li>
              <button class="btn btn-light" type="button"><a href="{% url 'wishlist:logout' %}" class="text-decoration-none text-dark">Logout</a></button>
          </li>
      </ul>
  </div>
</nav>

<br></br>

<div id="wrapper">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama Barang</th>
        <th scope="col">Harga Barang</th>
        <th scope="col">Deskripsi</th>
      </tr>
    </thead>
    <tbody id="table">
        
    </tbody>
  </table>

    <br></br>
    <div class="mx-3 d-flex flex-row flex-wrap justify-content-center">
    <div class="card mx-auto" style="width: 22rem;">
        <div class="card-body mx-auto">
          <h1 class="card-title"><strong>CREATE WISHLIST</strong></h1>
        </div>
        <div class="card-body">
            <div>    
                        <a class="text-decoration-none text-dark">Title</a>
                        <input type="text" id="judul" name="judul" placeholder="Title." class="form-control">
                    
                        <a class="text-decoration-none text-dark">Harga</a>
                        <input type="number" id="harga" name="harga" class="form-control">
                            
                        <a class="text-decoration-none text-dark">Description</a>
                        <input type="text" id="description" name="description" placeholder="Description." class="form-control">
    
                        <div class="div d-flex justify-content-center mt-3">
                        <button class="btn btn-success" onclick="update()">Create</button>
                        </div>
                
            </div>
        </div>
    
      </div>
    </div>
    </div>
  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

function update(){

      $.ajax({
        url: "/wishlist/ajax/",
        method: "POST",
        headers: {
          "X-CSRFToken": getCookie("csrftoken")
        },
        data:{
          judul : $('#judul').val(),
          description : $("#description").val(),
          harga : $("#harga").val(),
        },
      success: function(){
        show();
      },
      error: function(){
        aler("error");
      }
    })}

  function show() {
    $.get("/wishlist/json", function(data) {
      $("#table").html("")
          for(let i = 0; i < data.length ; i++){
              $("#table").append(`<tr>
              <td>${data[i].fields.nama_barang}</td>
              <td>${data[i].fields.harga_barang}</td>
              <td>${data[i].fields.deskripsi}</td>
              </tr>`)
            }
        });
  }
    $(document).ready(function(){
        show();
    });

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    
    
    </script>

{% endblock content %}